<div align="center">
    <img src="docs/.vuepress/public/images/logo-icon-rotate.svg" alt="elux" width="200" />
<div>
# 项目介绍

<p>本项目主要基于<code>Elux+Antd</code>构建，包含<code>React</code>版本和<code>Vue</code>版本，旨在提供给大家一个<strong>简单</strong>、<strong>开箱即用</strong>的后台管理系统通用模版，主要包含运行环境、脚手架、代码风格、基本Layout、状态管理、增删改查逻辑、列表、表单等。</p>
<blockquote>
<p>为保持工程简单清爽，方便二次开发，不提供各种纷杂的具体业务组件（网上很多）</p>
</blockquote>
<h2 id="在线预览">在线预览</h2>
<p><a href="http://admin-react-antd.eluxjs.com">http://admin-react-antd.eluxjs.com</a></p>
<h2 id="git仓库">Git仓库</h2>
<ul>
<li>React版本<ul>
<li>github: <a href="https://github.com/hiisea/elux-react-antd-admin">https://github.com/hiisea/elux-react-antd-admin</a></li>
<li>gitee: <a href="https://gitee.com/hiisea/elux-react-antd-admin-fork">https://gitee.com/hiisea/elux-react-antd-admin-fork</a></li>
</ul>
</li>
<li>Vue<ul>
<li>github: <a href="https://github.com/hiisea/elux-vue-antd-admin">https://github.com/hiisea/elux-vue-antd-admin</a></li>
<li>gitee: <a href="https://gitee.com/hiisea/elux-vue-antd-admin-fork">https://gitee.com/hiisea/elux-vue-antd-admin-fork</a></li>
</ul>
</li>
</ul>
<h2 id="安装方法">安装方法</h2>
<ul>
<li>使用Git命令clone相应的库：<code>git clone xxx</code></li>
<li>也可以使用Elux提供的命令：<code>npm create elux@latest 或 yarn create elux</code></li>
</ul>
<h2 id="features">Features</h2>
<h2 id="项目特色">项目特色</h2>
<p><a href="http://admin-react-antd.eluxjs.com/admin/dashboard/workplace">http://admin-react-antd.eluxjs.com/admin/dashboard/workplace</a></p>
<h2 id="关于elux">关于Elux</h2>
<p>基于“微模块”和“模型驱动”的跨平台、跨框架『同构方案』</p>
<p>Github：<a href="https://github.com/hiisea/elux-react-antd-admin">https://github.com/hiisea/elux-react-antd-admin</a></p>
<p>Gitee：<a href="https://gitee.com/hiisea/elux-react-antd-admin-fork">https://gitee.com/hiisea/elux-react-antd-admin-fork</a></p>
<p>完全开源免费，喜欢拿去，觉得好用别忘了Github给个<code>Star</code>(-_-)...</p>
